#details {
    width: 30%;
    padding: 3em;
    font-size: 14px;
    border-top-color: #C0C0C0;
    border-right-color: #C0C0C0;
    border-left-color: #C0C0C0;
    border-top-width: .15em;
    border-right-width: .15em;
    border-left-width: .15em;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-radius: 15px;
    box-shadow: 0 9px #C0C0C0;
}

h2 {
    margin-top: 0;
}

.likes {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.likes > img {
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: .5em;
}
